---
layout: layouts/index.njk
permalink: /cn.html

url: https://pkgamma.com/cn
lang_id: zh_CN
lang_id_html: zh-Hans

title: PKGamma 数位机构
description: PKGamma 是一个位于台北与美国旧金山的创意数位机构。我们专精于网页设计、开发、电子商务解决方案、品牌塑造与数位行销。
keywords: PKGamma 数位机构, 数位机构, PKGamma Digital Agency, PKGamma, Philip Kuo, 郭力铭, graphic design, graphic designer, design, modern, minimal, minimalist, web design, web development, user experience, social media, digital innovation, Taipei, Taiwan, TaipeiTaiwan

alt_language: English
alt_language_url: https://pkgamma.com/en

title_line_1: 我们透过创新设计
title_line_2: 为中小企业创造超凡价值

subtitle_line_1: PKGamma 是一个位于台北与美国芝加哥的创意数位机构。
subtitle_line_2: 我们专精于网页设计、开发、电子商务解决方案、品牌塑造与数位行销。

bottom_title: 在 PKGamma，我们对所有精彩与创新的好点子皆有兴趣，并会效率执行。
bottom_icon_1: 网页开发
bottom_icon_2: 品牌塑造
bottom_icon_3: 数位行销

contact_title: 与我们联系
contact_subtitle: 如果您有一个专案想谈谈的话，给我们发个短讯息就可以了，就这么简单！
email: contact@pkgamma.com
phone: +1 (347) 766 4206

copyright: 著作权 © 2020 PKGamma 数位机构 (中国)，版权所有。
copyright_disclaimer: 阅读版权与免责声明。
---
