ErrorDocument 400 http://www.pkgamma.com/
ErrorDocument 403 http://www.pkgamma.com/
ErrorDocument 404 http://www.pkgamma.com/
ErrorDocument 502 http://www.pkgamma.com/
ErrorDocument 503 http://www.pkgamma.com/
ErrorDocument 504 http://www.pkgamma.com/

RewriteEngine on

RewriteOptions inherit

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} (.+)/$
RewriteRule ^ %1 [L,R=301]

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html
# Replace html with your file extension, eg: php, htm, asp

# Redirect www urls to non-www
RewriteEngine on
RewriteCond %{HTTP_HOST} ^www\.pkgamma\.com [NC]
RewriteRule (.*) http://pkgamma.com/$1 [R=301,L]