<!DOCTYPE html> 
<html lang="{{lang_id_html}}">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--[if IE]>
        <meta http-equiv="cleartype" content="on" />
        <![endif]-->
        <title>{{title}}</title>

        <link rel="icon" href="https://philkuo.com/assets/web/favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="https://philkuo.com/assets/web/favicon.ico" type="image/x-icon">
        <meta name="description" content="{{description}}" />
        <meta name="keywords" content="{{keywords}}" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

        <meta property="og:title" content="{{title}}" />
        <meta property="og:description" content="{{description}}" />
        <meta property="og:url" content="{{url}}" />
        <meta property="og:image" content="img/share.jpg" />
        <meta property="og:type" content="website" />

        <link rel="stylesheet" media="screen" href="build/style.css" />

        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
            
            ga('create', 'UA-74738949-1', 'auto');
            ga('send', 'pageview');
        </script>
        <!--[if lte IE 9]>
        <script async type="text/javascript" src="/build/js/timetravel.js"></script>
        <![endif]-->
    </head>

    <body class="no-js">
        <svg style="display: none;" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <symbol viewBox="0 0 68 68" id="shape-branding">
                <title>branding</title>
                <path
                    d="M34,1C15.8,1,1,15.8,1,34c0,18.2,14.8,33,33,33s33-14.8,33-33S52.2,1,34,1z
                    M7.8,16.6h52.3v16.9H7.8V16.6z M6.8,33.5
                    L6.8,33.5l0,1h0v16.2C3.7,45.8,2,40.1,2,34s1.7-11.8,4.8-16.7V33.5z
                    M7.8,34.5h52.3v16.9H7.8V34.5z M34,66
                    c-10.8,0-20.4-5.4-26.2-13.6h52.3C54.4,60.6,44.8,66,34,66z
                    M7.8,15.6C13.6,7.4,23.2,2,34,2c10.8,0,20.4,5.4,26.2,13.6H7.8z
                    M61.1,17C64.2,22,66,27.8,66,34s-1.8,12-4.9,17V17z" />
            </symbol>
            <symbol viewBox="0 0 144 144" id="shape-phdl-logo">
                <title>phdl-logo</title>
                <g>
                    <path
                        d="M44.8,91h-4.6v16.4h4.6c4.9,0,8.2-3.3,8.2-8.1v-0.1C53,94.4,49.7,91,44.8,91z"
                        />
                    <path
                        d="M49.7,41.4L49.7,41.4c0-2.8-1.9-4.2-4.9-4.2h-4.6v8.3h4.7C47.9,45.5,49.7,43.7,49.7,41.4z"
                        />
                    <path d="M0,0v144v0h144v0V0H0z
                        M34.2,31.8h11.1c6.5,0,10.4,3.9,10.4,9.4v0.1c0,6.3-4.9,9.6-11,9.6h-4.6V59h-6V31.8z
                        M59.3,99.2c0,7.7-5.9,13.6-14.5,13.6H34.2V85.6h10.6C53.4,85.6,59.3,91.5,59.3,99.2L59.3,99.2z
                        M107.6,112.8H88V85.6h6v21.8h13.6
                        V112.8z
                        M109.2,59h-6V48.1H92.1V59h-6V31.8h6v10.8h11.1V31.8h6V59z"
                        />
                </g>
            </symbol>
            <symbol viewBox="0 0 68 68" id="shape-strategy">
                <title>strategy</title>
                <g>
                    <path
                        d="M34,2c17.6,0,32,14.4,32,32S51.6,66,34,66S2,51.6,2,34S16.3,2,34,2
                        M34,1C15.8,1,1,15.8,1,34s14.8,33,33,33s33-14.8,33-33
                        S52.2,1,34,1L34,1z" />
                </g>
                <g>
                    <polygon points="60,33.5 34.5,33.5
                        34.5,8 33.5,8 33.5,33.5 8,33.5
                        8,34.5 33.5,34.5 33.5,60 34.5,60
                        34.5,34.5 60,34.5"/>
                </g>
                <g>
                    <path
                        d="M34,60.6C19.3,60.6,7.4,48.7,7.4,34S19.3,7.4,34,7.4S60.6,19.3,60.6,34S48.7,60.6,34,60.6z
                        M34,8.4
                        C19.9,8.4,8.4,19.9,8.4,34S19.9,59.6,34,59.6S59.6,48.1,59.6,34S48.1,8.4,34,8.4z"
                        />
                </g>
            </symbol>
            <symbol viewBox="0 0 68 68"
                id="shape-web-mobile">
                <title>web-mobile</title>
                <path
                    d="M34,1C15.8,1,1,15.8,1,34s14.8,33,33,33s33-14.8,33-33S52.2,1,34,1z
                    M34,3.9l23.4,49.6H40.6l-15-31.7L34,3.9z
                    M39.5,53.5
                    H10.6L25,22.9L39.5,53.5z
                    M2,34C2,16.4,16.2,2.1,33.8,2L9.2,54.1C4.7,48.6,2,41.6,2,34z
                    M34,66c-9.9,0-18.7-4.5-24.6-11.5H41h17.5
                    C52.7,61.5,43.9,66,34,66z
                    M34.3,2C51.8,2.1,66,16.4,66,34c0,7.6-2.7,14.6-7.2,20.1L34.3,2z"
                    />
            </symbol>
        </svg>
        <header id="site-header"
            class="site-header">
            <div class="wrapper">
                <h1 class="logo">
                    <a href="{{url}}">
                    <img src="img/logo.png" alt="{{title}}">
                    </a>
                    <span class="sr-only">{{title}}</span>
                </h1>
                <nav class="site-nav"
                    id="site-navigation">
                    <ul class="site-nav__list">
                        <li><a class="Instagram"
                            href="https://www.instagram.com/pkgammadigital/"
                            target="_blank">Instagram</a></li>
                        <li><a class="Facebook"
                            href="https://www.facebook.com/PKGammaDigital/"
                            target="_blank">Facebook</a></li>
                        <li><a class=""
                            href="{{alt_language_url}}"
                            target="_blank">{{alt_language}}</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <main class="main wrapper
            js-pageTransition">
            <header class="hero hero--home">
                <div class="hero__content
                    fadeUp">
                    <h2 class="h1">
                        {{title_line_1}}
                            </br>
                        {{title_line_2}}
                    </h2>
                    <div class="hero__para">
                        <div class="section
                            section--flushBottom">
                            <p class="p--thin">
                                {{subtitle_line_1}}
                                    </br>
                                {{subtitle_line_2}}
                            </p>
                        </div>
                    </div>
                </div>
            </header>
            <section class="section" id="projects">
                <ul class="row project-list">
                    <!-- THIS IS ONE WORK BLOCK-->
                    <li class="col--xs--6 projectThumb">
                        <a
                            href="#">
                            <figure>
                                <picture>
                                    <source
                                        media="(min-width:
                                        1450px)"
                                        srcset="img/1-thg.jpg">
                                    <source
                                        media="(min-width:
                                        800px)"
                                        srcset="img/1-thg.jpg,
                                        img/1-thg.jpg
                                        2x">
                                    <source
                                        media="(max-width:
                                        450px)"
                                        srcset="img/1-thg.jpg">
                                    <img
                                        src="img/1-thg.jpg"
                                        alt="Project" />
                                </picture>
                                <div
                                    class="projectThumb__info">
                                    <div>
                                        <h3 class="h2
                                            project-title">branding</br>e-commerce
                                            solutions</br>digital
                                            marketing
                                        </h3>
                                    </div>
                                </div>
                            </figure>
                        </a>
                    </li>
                    <!-- THIS IS ONE WORK BLOCK-->
                    <!-- THIS IS ONE WORK BLOCK-->
                    <li class="col--xs--6 projectThumb">
                        <a href="http://munual.org/">
                            <figure>
                                <picture>
                                    <source media="(min-width:
                                        1450px)"
                                        srcset="img/2-munual.jpg">
                                    <source media="(min-width:
                                        800px)"
                                        srcset="img/2-munual.jpg,
                                        img/2-munual.jpg 2x">
                                    <source media="(max-width:
                                        450px)"
                                        srcset="img/2-munual.jpg">
                                    <img src="img/2-munual.jpg"
                                        alt="Project" />
                                </picture>
                                <div class="projectThumb__info">
                                    <div>
                                        <h3 class="h2
                                            project-title">branding</br>website
                                            design</br>website
                                            development
                                        </h3>
                                    </div>
                                </div>
                            </figure>
                        </a>
                    </li>
                    <!-- THIS IS ONE WORK BLOCK-->
                </ul>
            </section>
            <section class="section" id="about">
                <div class="wrapper-thin" data-animate-in="up">
                    <h3 class="h2" style="font-family: 'GothamLightRegular',source-han-sans-traditional,SourceHanSansTC-Light,STHeitiTC-Light,Arial,Helvetica,sans-serif;">
                    {{bottom_title}}
                    </h3>
                    <div class="section section--flushTop">
                        <div class="row text-center">
                            <div class="col--xs--4">
                                <div class="section
                                    section--flushBottom">
                                    <figure class="shape
                                        shape--has-text">
                                        <svg>
                                            <use
                                                xlink:href="#shape-web-mobile"></use>
                                        </svg>
                                        <figcaption>{{bottom_icon_1}}</figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="col--xs--4">
                                <div class="section
                                    section--flushBottom">
                                    <figure class="shape
                                        shape--has-text">
                                        <svg>
                                            <use
                                                xlink:href="#shape-branding"></use>
                                        </svg>
                                        <figcaption>{{bottom_icon_2}}</figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="col--xs--4">
                                <div class="section
                                    section--flushBottom">
                                    <figure class="shape
                                        shape--has-text">
                                        <svg>
                                            <use
                                                xlink:href="#shape-strategy"></use>
                                        </svg>
                                        <figcaption>{{bottom_icon_3}}</figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer class="site-footer" data-animate-in>
            <div class="wrapper">
                <div class="footer-contact">
                    <div class="h2">{{contact_title}}</div>
                    <div class="section">
                        <p>{{contact_subtitle}}
                        </p>
                        <ul class="footer-contact__list">
                            <li>
                                <a style="font-family:
                                    'GothamMediumRegular',source-han-sans-traditional,SourceHanSansTC-Light,STHeitiTC-Light,Arial,Helvetica,sans-serif;"
                                    href="mailto:{{email}}">{{email}}</a>
                            </li>
                            <li>
                                <a style="font-family:
                                    'GothamMediumRegular',source-han-sans-traditional,SourceHanSansTC-Light,STHeitiTC-Light,Arial,Helvetica,sans-serif;"
                                    href="tel:{{phone}}">{{phone}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="site-extras">
                <div>
                    <p class="p-sm text-light">
                        {{copyright}}
                        <a class="text-light" href="https://philkuo.com/disclaimer">
                        {{copyright_disclaimer}}
                        </a>
                    </p>
                </div>
            </div>
        </footer>
        <span class="menu-mask"></span>
        <span class="h-line h-line--1"></span>
        <span class="h-line h-line--2"></span>
        <span class="h-line h-line--3"></span>
        <span class="v-line v-line--left"></span>
        <span class="v-line v-line--middle"></span>
        <span class="v-line v-line--right"></span>
        <!-- JQUERY -->
        <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>

        <!-- JAVASCRIPT -->
        <script type="text/javascript" src="build/production.min.js"></script>

        <!-- Load Facebook SDK for JavaScript -->
        <div id="fb-root"></div>
        <script>
        window.fbAsyncInit = function() {
            FB.init({
            xfbml            : true,
            version          : 'v3.2'
            });
        };

        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/{{lang_id}}/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <!-- Your customer chat code -->
        <div class="fb-customerchat"
        attribution=setup_tool
        page_id="187246008075413"
        theme_color="#333333"
        </div>
        
    </body>
</html>